
PORT=3000
NODE_ENV=development          


ADMIN_EMAIL=glowbase.admin@gmail.com


# APP_SECRET=
# TRUST_PROXY=1
# DATA_DIR=/var/data           


# SESSION_IDLE_SEC=900



# TURSO_DATABASE_URL=libsql://ten-db-tenban.turso.io
# TURSO_AUTH_TOKEN=eyJ...
